/* Transitions.css */

.fade-enter {
    opacity: 0;
    transform: scale(0.98);
  }
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  }
  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }
  .fade-exit-active {
    opacity: 0;
    transform: scale(0.98);
    transition: opacity 0ms ease-in-out, transform 0ms ease-in-out;
  }
  